<div class="note">
    <h3 class="note-title">Заметка 1</h3>
    <p class="note-description"> <span class="note-date">21.02.2022 </span>Ботинки горные - обязательно</p>
    <button class="kebab-menu-button"></button>
    <ul class="kebab-menu">
        <li class="kebab-menu-item">Редактировать</li>
        <li class="kebab-menu-item">Удалить</li>
    </ul>
</div>

<div class="note-content-body">
    <div class="note-content-date">12.02.2022 в 11:45</div>
    <div class="note-content-title" contenteditable="true">Название</div>
    <div class="note-content-text" contenteditable="true">Текст</div>
</div>